header {
	background: rgb(0,0,0);
	background: -moz-radial-gradient(circle, rgba(0,0,0,1) 18%, rgba(18,18,18,1) 50%, rgba(38,38,38,1) 82%);
	background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 18%, rgba(18,18,18,1) 50%, rgba(38,38,38,1) 82%);
	background: radial-gradient(circle, rgba(0,0,0,1) 18%, rgba(18,18,18,1) 50%, rgba(38,38,38,1) 82%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#262626",GradientType=1);
	border-radius: 100px;
}

.headpic {
	display: inline-block;
	width: 16%;
}
.headlogol {
	display: inline-block;
	width: 8%;															/* 8% = logo1 | 15% = logo4*/
}
.headlogor {
	display: inline-block;
	width: 8%;															/* 8% = logo1 | 15% = logo4*/
}

.pay {
	display: inline-block;
	width: 200px;
}

body{
	background: rgb(0,0,0);
	background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 33%, rgba(34,34,34,1) 50%, rgba(38,38,38,1) 66%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 33%, rgba(34,34,34,1) 50%, rgba(38,38,38,1) 66%, rgba(0,0,0,1) 100%);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 33%, rgba(34,34,34,1) 50%, rgba(38,38,38,1) 66%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.heading {
	text-align: center;
	display: inline-block;
	font-size: 42px;
	font-weight: bold;
	color: white;
	font-family: 'Supernatural Knight', calibri;
}

.inp {
	font-size: 20px;
	float: right;
	width: 50%;
}

.name {
	text-align: center;
	display: inline-block;
	font-size: 84px;
	/*font-weight: bold;*/
	/* font-style: italic; */
	font-family: 'Helene Queen.K', 'Kunstler Script', 'Edwardian Script ITC', 'Monotype Corsiva';
	color: white;
}

.slides {
	margin-top: 15px;
	margin-left: 75px;
	border-radius: 20px;
	animation-name: fade;
	animation-duration: 8s;
	/*transition: 1s ease-in-out;*/
}

@keyframes fade {
	0% {opacity: 0}
	10% {opacity: 0}
	40% {opacity: 1}
	60% {opacity: 1}
	90% {opacity: 0}
	100% {opacity: 0}
}

.button {
	background-color: #2d2d2d;
	display: inline-block;
	font-family: Calibri;
	font-weight: bold;
	border-style: solid;
	border-width: 5px;
	border-color: #ffffff;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 10px 5px 0px rgba(255, 0, 0, 1);
	margin: 50px;
	vertical-align: bottom;
}
.button:hover {
	background-color: #fdcbc6;
	/* color: #211c1c; */
	border-color: #000000;
	cursor: pointer;
}
.button:active {
	background-color: #222120;
	/* color: #ffffff; */
	border-color: #ffffff;
	transform: translateY(15px);
	transition: 0.1s;
}

.userde {
	display: inline-block;
	font-size: 24px;
	font-family: 'Monotype Corsiva';
	vertical-align: middle;
}
