@font-face {
	font-family: "Helene Queen.K";
	src:url("https://db.onlinewebfonts.com/t/753f3fa721692d98341d9fe86bdd52eb.eot");
	src:url("https://db.onlinewebfonts.com/t/753f3fa721692d98341d9fe86bdd52eb.eot?#iefix") format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/753f3fa721692d98341d9fe86bdd52eb.woff2") format("woff2"),
		url("https://db.onlinewebfonts.com/t/753f3fa721692d98341d9fe86bdd52eb.woff") format("woff"),
		url("https://db.onlinewebfonts.com/t/753f3fa721692d98341d9fe86bdd52eb.ttf") format("truetype"),
		url("https://db.onlinewebfonts.com/t/753f3fa721692d98341d9fe86bdd52eb.svg#Helene Queen.K") format("svg"); }

@font-face {
	font-family: "Supernatural Knight";
	src:url("https://db.onlinewebfonts.com/t/f2a118fd61847e5119a2f0befffa1e5e.eot");
    src:url("https://db.onlinewebfonts.com/t/f2a118fd61847e5119a2f0befffa1e5e.eot?#iefix") format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/f2a118fd61847e5119a2f0befffa1e5e.woff2") format("woff2"),
		url("https://db.onlinewebfonts.com/t/f2a118fd61847e5119a2f0befffa1e5e.woff") format("woff"),
		url("https://db.onlinewebfonts.com/t/f2a118fd61847e5119a2f0befffa1e5e.ttf") format("truetype"),
		url("https://db.onlinewebfonts.com/t/f2a118fd61847e5119a2f0befffa1e5e.svg#Supernatural Knight") format("svg");
}